.container{
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
 
}

.top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* products.module.css */
.titleColumn {
  width: 200px; /* Adjust the width as needed */
  word-wrap: break-word;
  line-height: 1.5; /* Ensures long titles wrap to the next line */
}


.desc {
  max-width: 150px; /* Adjust this value as needed */
  word-wrap: break-word;
}


.addButton{
  padding: 10px;
  background-color: #5d57c9;
  color: var(--text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.table{
  width: 100%;
}

.table td{
  padding: 10px;
}

.product{
  display: flex;
  align-items: center;
  gap: 20px;
}

.productImage{
  border-radius: 50%;
  object-fit: cover;
}

.buttons{
  display: flex;
  gap: 10px;
}

.button{
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--text);
  border: none;
  cursor: pointer;
}

.view{
  background-color: teal;
}

.delete{
  background-color: crimson;
}